@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    line-height: 0;
}

p{
    font-size: 16px;
    color: #FFF;
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

:root{
    --primary-color: #131318;
    --secondary-color: #FF5400;
    --Dark-02: #424247;
    --p-tag: rgba(19, 19, 24, 0.70);
}

/* header style start */
.header{
    margin-top: 50px;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_content .title_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.title_content img{
    width: 48px;
    height: 56.008px;
}

.title_content h1{
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
}

.title_content span{
    color: var(--secondary-color);
}

.header_content ul{
    display: flex;
    gap: 2.75rem;
    font-size: 1.12rem;
    align-items: center;
}

.header_content ul>i{
    display: none;
}

.header_content ul>li{
    list-style: none;
}

.header_content a{
    text-decoration: none;
    color: var(--Dark-02);
    transition: all linear 0.4s;
}

.header_content .active{
    color: var(--secondary-color);
    font-weight: 700;
}

.header_content a:hover{
    color: var(--secondary-color);
    transition: all linear 0.4s;
}

.banner{
    margin: 3.12rem 0;
}

/* banner css start */
.banner_area{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./img/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.banner_content{
    text-align: center;
    padding: 6.6rem  11.5rem;                            
}

.banner_content h1{
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
}

.banner_content p{
    color: #FFF;
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.primary_p{
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 0;
    color: var(--p-tag);
}

.search_bar{
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 1.5rem;  
    width: 800px;    
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);       
    padding: 16px;            
}

.search_bar input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
    color: var(--Dark-02);
}
.search_bar select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
    color: var(--Dark-02);
}

.primary_btn{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.primary_btn i{
    margin-right: 8px;
}


/* main section start */
/* our popular tours start */
.popular_tours{
    margin-top: 100px;
}

.popular_area{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: var(--primary-color);
}

.popular_content p{
    line-height: 26px;
    margin-top: 24px;
    color: var(--p-tag);
    max-width: 557px;
}

.popular_content li{
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: var(--p-tag);
    margin-top: 16px;
}

.popular_tour_banner img{
    width: 540px;
    height: 550px;
}

.secondary_btn{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

/* choose destination css start */
.choose_destination{
    margin-top: 100px;
}
.choose_destination_area{
    text-align: center;
}

.destination_content p{
    color: var(--p-tag);
}

.des_img{
    margin-top: 48px;
}

.des_img .img_row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.img_row1 .img1{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 5.png);
    width: 573px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.img_row1 .img2{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 8.png);
    width: 573px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.des_img .img_row2{
    display: grid;
    grid-template-columns: 1.3fr 2fr 0.7fr;
    gap: 24px;
    margin-top: 24px;
}

.img_row2 .img3{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 6.png);
    width: 374px;
    height: 286px;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.img_row2 .img4{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 7.png);
    width: 474px;
    height: 286px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.img_row2 .img5{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 9.png);
    width: 274px;
    height: 286px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.des_img .img_row3{
    display: grid;
    grid-template-columns: 1.3fr 2.7fr ;
    gap: 24px;
    margin-top: 24px;
}

.img_row3 .img6{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 11.png);
    width: 473px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.img_row3 .img7{
    background:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./img/Rectangle\ 10.png);
    width: 673px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7  h3{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 9px 18px rgba(0, 0, 0, 0.3); ;
    transition: all linear 0.3s;
}

/* why choose us start*/
.why_choose_us{
    margin-top: 100px;
}

.choose_us_content{
    text-align: center;
    margin: 0 auto;
}

.choose_us_content p{
    margin-top: 28px;
    color: var(--p-tag);
}

.choose_us_card{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    grid-template-areas: "hotel map"
    "price price";
}
.card1, .card2 , .card3{
    width: 573px;
    height: 284px;
    padding: 32px 32px 0px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card1 img, .card2 img, .card3 img{
    padding-bottom: 32px;
}
.card1 h3, .card2 h3, .card3 h3{
    font-size: 24px;
    font-weight: 800;
    color: var(--Dark-02);
    padding-bottom: 16px;
}

.card1{
    grid-area: hotel;
}

.card2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-area: map;
}

.card3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-area: price;
    margin: 0 auto;
}

/* newsletter part start */
.newsletter_part{
    margin-top: 100px;
}

.newsletter_area{
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    gap: 24px;
}

.newsletter_content{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter_content h3{
    font-size: 24px;
    font-weight: 800;
}
.newsletter_content p{
    color: var(--p-tag);
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    padding-bottom: 14px;
}

.newsletter_content input{
    width: calc(100% - 20px);
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    margin-bottom: 16px;
    padding-left: 20px;
}

.primary_btn2{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    height: 52px;
    color: #FFF;
}

.save_banner{
    border-radius: 16px;
    background: url(./img/Rectangle\ 8\ \(1\).png), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner_box{
    border-radius: 16px;
    width: 324px;
    height: 120px;
    position: relative;
    transform: rotate(-25deg);
    background: var(--secondary-color);
    translate: 355px 205px;
}

.save_banner p{
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    padding-top: 20px;
}
.save_banner h2{
    font-size: 32px;
    font-weight: 800;
    color: #FFF;
}
/* main section end */

/* footer{
 part start */

.footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer .title_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title_content h1{
    font-size: 32px;
}

.footer_area{
    text-align: center;
    padding: 110px ;
}

.footer_area p{
    font-size: 16px;
    font-weight: 400;
    color: var(--p-tag);
}

hr{
    margin-top: 30px;
    background: rgba(19, 19, 24, 0);
}



/* responsive for mobile devices */

@media screen and (max-width: 600px) {
    .header{
        margin-top: 18px;
    }
    .container{
        max-width: 540px;
    }

    .title_content h1{
        font-size: 22px;
    }

    .title_content img{
        width: 29px;
        height: 34px;
    }

    .header_content ul li{
        display: none;
    }
    .header_content ul>i{
        display: block;
        font-size: 24px;
    }

    .banner{
        margin: 20px 0;
    }

    .banner_content{
        padding: 2rem 1rem;
    }

    .banner_content h1{
        font-size: 1.3rem;
    }

    .banner_content p{
        font-size: 0.8rem;
        width:400px;
        margin: 8px auto;
        line-height: 21px;
    }

    .search_bar{
        flex-direction: column;
        width: 430px;
        margin: 32px auto 0;
    }

    .search_bar input{
        width: 430px;
    }

    .search_bar select{
        width: 430px;
    }

    .primary_btn{
        width: 430px;
    }

    /* main section start */
    /* our popular tours start */

    .popular_tours{
        margin-top: 24px;
    }

    .popular_area{
        flex-direction: column;
    }

    .popular_content h2{
        font-size: 20px;
    }

    .secondary_btn{
        margin-top: 10px;
    }

    /* choose destination css start */
    .choose_destination{
        margin-top: 36px;
    }
    .destination_content h2{
        font-size: 20px;
        font-weight: 800;
    }
    .destination_content p{
        width: 309px;
        margin: 22px auto 0px;
        font-size: 14px;
    }

    .des_img .img_row1{
        display: flex;
        flex-direction: column;
    }

    .img_row1 .img1{
        width: 100%;
    }
    .img_row1 .img2{
        width: 100%;
    }
    .des_img{
        margin-top: 22px;
    }
    .des_img .img_row2{
        display: flex;
        flex-direction: column;
    }
    
    .img_row2 .img3{
        width: 100%;
        background-size: cover;
    }

    .img_row2 .img4{
        width: 100%;
        background-size: cover;
    }
    .img_row2 .img5{
        width: 100%;
        background-size: cover;
    }
    
    .des_img .img_row3{
        display: flex;
        flex-direction: column;
    }

    .img_row3 .img6{
        width: 100%;
        background-size: cover;
    }
    .img_row3 .img7{
        width: 100%;
        background-size: cover;
    }

    .des_img h3{
        font-size: 24px;
        font-weight: 700;
    }

    /* why choose us start */
    .why_choose_us{
        margin-top: 36px;
    }
    .choose_us_card{
        display: flex;
        flex-direction: column;
    }

    .choose_us_content h2{
        font-size: 20px;
        font-weight: 800;
    }
    .choose_us_content p{
        font-size: 14px;
        font-weight: 400;
        padding: 0px 60px;
    }

    .choose_us_card{
        margin-top: 22px;
    }

    .card1{
        width: 470px;
        height: 289px;
    }
    .card2{
        width: 470px;
        height: 289px;
    }
    .card3{
        width: 470px;
        height: 289px;
    }

    .card1, .card2 , .card3{
        padding: 32px;
        
    }

    .card1 img, .card2 img, .card3 img{
        padding-bottom: 16px;
    }

    /* newsletter */
    .newsletter_part{
        margin-top: 50px;
    }

    .newsletter_area{
        display: flex;
        flex-direction: column;
    }

    .newsletter_content h3{
        font-size: 20px;
        font-weight: 800;
    }
    .newsletter_content p{
        font-size: 14px;
        font-weight: 400;
    }

    .save_banner{
        width: 100%;
        height: 500px;
    }
    .banner_box{
        translate: 285px 332px;
        width: 250px;
        height: 100px;
    }

    .save_banner p{
        font-size: 15px;
    }
    .save_banner h2{
        font-size: 21px;
    }

    .footer{
        margin-top: 32px;
    }

    .footer_area{
        padding: 32px ;
    }    
    
    .social_media img{
        padding: 0 170px 30px;
        align-content: center;
    }

    hr{
        margin-top: 10px;
    }

}



